<header>
  <div class="logo">LOGO</div>
  <nav>
    <menu>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/about">About Us</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
    </menu>
  </nav>
</header>

<style>
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        background-color: #eee;
    }

    menu{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 1rem;
        font-weight: bold;
    }
</style>