---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<h1>Home</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, iure doloribus. Deleniti necessitatibus ab distinctio eaque, esse deserunt cumque nemo?</p>
</Layout>

